		.user_setting_warp li{
			position: relative;
		    padding: 8px 0 8px 20px;
		}
		.tit{
		    float: left;
		    width: 130px;
		    margin-left: -140px;
		    margin-left: -70px;
		    font-size: 14px;
		    line-height: 29px;
		    text-align: right;	
		}
		.f-part{
			position: relative;
	    	margin-right: 2px;	
		}
		.edit_input{
			width: 146px;
			margin:0;
			padding: 5px 6px;
			color: #555;
			border: 1px solid #ccc;
		}
		.f-iradio {
		    margin-right: 15px;
		    line-height: 29px;
		}		
		.radio-plain {
		    position: relative;
		    top: 2px;
		    margin-left: 1px;
		}	
		.f-iradio label {
		    margin: 0 10px 0 5px;
		}	
		.tar_plain{
			width: 360px;
			height: auto;
	    	overflow-y: auto;
 	   		color: #555;
 	   		padding: 7px;
		}	
		.btn_box{
			padding: 10px 0 10px 140px;
		}
		.btn{
			width: 100px;
		    height: 40px;
		    border: 1px solid;
		    color: white;
		    background-color: #ff7b2e;
		}