<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/index.css">
</head>

<body>
	<!-- header -->
	<div class="header-container">
		<div class="top-nav">

			<div class="top-nav-container clearfix">
				<div class="group mini-logo">
					<a target="_blank" class="item" href="index.html">当地小食</a>
				</div>
				<div class="group quick-menu">
					<a class="item write-dp undline" href="#">写点评</a>
					<span class="seprate">|</span>
					<span>
						<a target="_blank" class="item left-split username J-user-trigger undline" href="personal_sc.html">Admin</a>
						<span class="seprate">|</span>
					</span>
					<a target="_blank" class="item left-split user-msg J-message-trigger undline" href="#">massage<span class="count">1</span></a>
					<span class="seprate">|</span>
					<a class="item J-my-center-trigger undline" href="personal_collection.html">个人中心</a>
					<span class="seprate">|</span>
					<a target="_blank" class="item left-split user-msg J-message-trigger undline" href="#">社区论坛</a>

				</div>
			</div>
		</div>

		<div class="logo-input" class="logo-input food-conf">
			<div class="logo-input-container clearfix">
				<a target="_blank" class="city J-city">
					<span class="map-icon"></span>
					<span>杭州</span>
					<i class="icon i-arrow"></i>
				</a>
				<div class="search-bar">
					<input class="search_input" type="text" name="search-input" placeholder="搜索商户名、地址、菜名等">

					<input class="search_submit" type="submit" name="submit" value="搜索美食">

					<p class="search_hot">大家都在搜：
						<a href="#">海底捞</a>
						<a href="#">星巴克</a>
						<a href="#">麦当劳</a>
						<a href="#">小龙虾</a>
						<a href="#">KFC</a>
						<a href="#">必胜客</a>
					</p>
				</div>
			</div>
		</div>

	</div>
	<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->	
	<!-- 中间内容 -->
	<div class="main">
		<div class="colmain">
			<div class="modebox feautres_topics">
				<div class="feautres">
					<div class="pic_switch">
						<img src="https://op.meituan.net/oppkit_pic/pc_food_index_banner/6960361bc90df7a5a3a3fddce56714bb.jpg">
					</div>
					<div class="content">
						<h2>
							<a onclick="document.hippo.ext({action:'click'}).mv('module','2_PcChannelFeaturedContent')" target="_blank" href="#">杭城新店榜vol.4</a>
						</h2>
						<p>
							 一大波新店也如雨后春笋在杭州开业 抖音网红水蜜桃冰淇淋、于文文代言的少女系奶茶、樱花北海道冰淇淋...... 哎呀，又要月半了
							 <span class="reason"></span>
							 <span class="reason"></span>
							 ...
							 <a onclick="document.hippo.ext({action:'click'}).mv('module','2_PcChannelFeaturedContent')" title="" href="http://s.dianping.com/topic/35690664" target="_blank">[全文]</a>
						</p>
						<ul>
							<li>
								<a onclick="" target="_blank" href="#">[小编推荐] 【记19】【初夏】位居江南六大古镇之一，尽管喧嚣...</a>
							</li>
							<li>	
								<a onclick="" target="_blank" href="#">[话题精选] 【记19】【初夏】年接待香游客达1622万，浙江...</a>
							</li>
							<li>
								<a onclick="" target="_blank" href="#">[社区热帖] 【初夏】山林之乐幽且闲，画圣聊居云半间。</a>
							</li>
							<li>
								<a onclick="" target="_blank" href="#">[达人推荐] 【初夏】夏日里，用一种轻松的方式爬长城</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="topics" id="shop-rank">
					<div class="title">
						<h4>餐厅排行榜</h4>
						<a class="more" target="_blank" href="#">更多</a>
					</div>
					<div class="tabs">
						<a class="tab current" title="" href="javascript:" target="_blank" onclick="pageTracker._trackPageview('dp_home_food_shoplist_new_1_hangzhou');">人气</a>|
						<a class="tab" title="" href="javascript:" target="_blank" onclick="pageTracker._trackPageview('dp_home_food_shoplist_new_1_hangzhou');">口味</a>|
						<a class="tab" title="" href="javascript:" target="_blank" onclick="pageTracker._trackPageview('dp_home_food_shoplist_new_1_hangzhou');">环境</a>
					</div>
					<div class="wrap">
						<div class="item news_list current" data-index="0">
							<ul>
								<li>
									<a href="#" target="_blank">西子湖四季酒店金沙厅</a>
								</li>
								<li>
									<a href="#" target="_blank">哥老官重庆美蛙鱼头(杭州...</a>
								</li>
								<li>
									<a href="#" target="_blank">猪爸(嘉里中心店)</a>
								</li>
								<li>
									<a href="#" target="_blank">月芽 · 自由餐厅</a>
								</li>
								<li>
									<a href="#" target="_blank">Lady M(万象城店)</a>
								</li>
								<li>
									<a href="#" target="_blank">停不了龙虾大闸蟹(滨江店)</a>
								</li>
							</ul>
							<a class="more" target="_blank" href="">更多人气餐厅</a>
						</div>

<!-- 						<div class="item news_list current" data-index="0">
							<ul>
								<li>
									<a href="#" target="_blank">西子湖四季酒店金沙厅</a>
								</li>
								<li>
									<a href="#" target="_blank">哥老官重庆美蛙鱼头(杭州...</a>
								</li>
								<li>
									<a href="#" target="_blank">猪爸(嘉里中心店)</a>
								</li>
								<li>
									<a href="#" target="_blank">月芽 · 自由餐厅</a>
								</li>
								<li>
									<a href="#" target="_blank">Lady M(万象城店)</a>
								</li>
								<li>
									<a href="#" target="_blank">停不了龙虾大闸蟹(滨江店)</a>
								</li>
							</ul>
							<a class="more" target="_blank" href="">更多人气餐厅</a>
						</div>

						<div class="item news_list current" data-index="0">
							<ul>
								<li>
									<a href="#" target="_blank">西子湖四季酒店金沙厅</a>
								</li>
								<li>
									<a href="#" target="_blank">哥老官重庆美蛙鱼头(杭州...</a>
								</li>
								<li>
									<a href="#" target="_blank">猪爸(嘉里中心店)</a>
								</li>
								<li>
									<a href="#" target="_blank">月芽 · 自由餐厅</a>
								</li>
								<li>
									<a href="#" target="_blank">Lady M(万象城店)</a>
								</li>
								<li>
									<a href="#" target="_blank">停不了龙虾大闸蟹(滨江店)</a>
								</li>
							</ul>
							<a class="more" target="_blank" href="">更多人气餐厅</a>
						</div> -->

					</div>

				</div>

				<div class="clear">
					
				</div>
			</div>

			<div class="modebox recent_hot" id="discover-food">
				<div class="title">
					<h3>发现美食</h3>
				</div>

				<div class="tabs">
					<a class="tab current" href="#">超人气的水果生鲜</a>
					|
					<a class="tab current" href="#">超赞的东北菜</a>
					|
					<a class="tab current" href="#">味道很好的烧烤</a>
					|
					<a class="tab current" href="#">环境很棒的自助餐</a>
					|
				</div>

				<div class="wrap">
					<div class="pic_list current item">
						<a target="_blank" class="more" href="#">更多水果生鲜</a>
					<ul class="fxms">
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<div class="clear"></div>
					</ul>
					</div>

<!-- 					<div class="pic_list current item">
						<a target="_blank" class="more" href="#">更多水果生鲜</a>
					<ul>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>

					</ul>
					</div> -->

<!-- 					<div class="pic_list current item">
						<a target="_blank" class="more" href="#">更多东北菜</a>
					<ul>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>

					</ul>
					</div>

					<div class="pic_list current item">
						<a target="_blank" class="more" href="#">更多烧烤</a>
					<ul>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>
						<li>
							<a href="">
								<img class="img_hot" alt src="https://img.meituan.net/msmerchant/23c780995867adc6dfa8d84737af17875636096.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
							</a>
							<p class="name">
								<a href="#">验食症(湖滨店)</a>
							</p>
							<p class="comm">
								<span>4.5</span>
								<a href="#">12000封热评</a>
							</p>
						</li>

					</ul>
					</div> -->

				</div>


				<div class="clear"></div>
			</div>
			<div class="modebox flallow_dp">
				<div class="title">
					<h3>最新点评</h3>
				</div>

				<div class="flaldp_list">
					<ul>
						<li>
							<div class="pic_txt">
								<a target="_blank" class="pic" href="">
									<img src="http://p0.meituan.net/mogu/d19cec036d4980270b277f50dbc02e0072085.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20" alt="章吴记喜瑞餐厅">
								</a>
								<h6>
									<a target="_blank" href="">
										章吴记喜瑞餐厅(
									</a>
								</h6>
								<p class="gray">
									标签：
									<a target="_blank" href="">杭帮菜</a>
									<a target="_blank" href="">下沙</a>
								</p>
							</div>

							<div class="flaldp_review">
								<i>&nbsp</i>
								<p>
									<a class="blue" target="_blank" href="#">羊羊</a>
									 14分钟前点评：
								</p>
								<p>5分</p>
								<p class="tips">
									跟老公两个人是在周六下午4点去的，服务员很礼貌的跟我们说刚上班可能要等的久一点，章吴记的环境没得说，干净整... 
									<a target="_blank" class="gray" href="">[全文]</a>
								</p>
							</div>
						</li>

						<li>
							<div class="pic_txt">
								<a target="_blank" class="pic" href="">
									<img src="http://p0.meituan.net/mogu/d19cec036d4980270b277f50dbc02e0072085.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20" alt="章吴记喜瑞餐厅">
								</a>
								<h6>
									<a target="_blank" href="">
										章吴记喜瑞餐厅(
									</a>
								</h6>
								<p class="gray">
									标签：
									<a target="_blank" href="">杭帮菜</a>
									<a target="_blank" href="">下沙</a>
								</p>
							</div>

							<div class="flaldp_review">
								<i>&nbsp</i>
								<p>
									<a class="blue" target="_blank" href="#">羊羊</a>
									 14分钟前点评：
								</p>
								<p>5分</p>
								<p class="tips">
									跟老公两个人是在周六下午4点去的，服务员很礼貌的跟我们说刚上班可能要等的久一点，章吴记的环境没得说，干净整... 
									<a target="_blank" class="gray" href="">[全文]</a>
								</p>
							</div>
						</li>

						<li>
							<div class="pic_txt">
								<a target="_blank" class="pic" href="">
									<img src="http://p0.meituan.net/mogu/d19cec036d4980270b277f50dbc02e0072085.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20" alt="章吴记喜瑞餐厅">
								</a>
								<h6>
									<a target="_blank" href="">
										章吴记喜瑞餐厅(
									</a>
								</h6>
								<p class="gray">
									标签：<a target="_blank" href="">杭帮菜</a>
										<a target="_blank" href="">下沙</a>
								</p>
							</div>

							<div class="flaldp_review">
								<i>&nbsp</i>
								<p>
									<a class="blue" target="_blank" href="#">羊羊</a>
									 14分钟前点评：
								</p>
								<p>5分</p>
								<p class="tips">
									跟老公两个人是在周六下午4点去的，服务员很礼貌的跟我们说刚上班可能要等的久一点，章吴记的环境没得说，干净整... 
									<a target="_blank" class="gray" href="">[全文]</a>
								</p>
							</div>
						</li>

						<li>
							<div class="pic_txt">
								<a target="_blank" class="pic" href="">
									<img src="http://p0.meituan.net/mogu/d19cec036d4980270b277f50dbc02e0072085.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20" alt="章吴记喜瑞餐厅">
								</a>
								<h6>
									<a target="_blank" href="">
										章吴记喜瑞餐厅(
									</a>
								</h6>
								<p class="gray">
									标签：<a target="_blank" href="">杭帮菜</a>
										<a target="_blank" href="">下沙</a>
								</p>
							</div>

							<div class="flaldp_review">
								<i>&nbsp</i>
								<p>
									<a class="blue" target="_blank" href="#">羊羊</a>
									 14分钟前点评：
								</p>
								<p>5分</p>
								<p class="tips">
									跟老公两个人是在周六下午4点去的，服务员很礼貌的跟我们说刚上班可能要等的久一点，章吴记的环境没得说，干净整... 
									<a target="_blank" class="gray" href="">[全文]</a>
								</p>
							</div>
						</li>
						<div class="clear"></div>
					</ul>	
				</div>

				<div class="clear"></div>
			</div>
		</div>

		<div class="colaside">
			<div class="block nav_box">
				<div class="title">
					<h1>杭州美食</h1>
				</div>
				<ul class="nav_col">
					<li class="nc_li">
						<div class="nc_item list_business">
							<h4>商区</h4>
							<ul class="nc_list">
								<li>
									<a href="#">吴山广场/河坊街</a>
								</li>
								<li>
									<a href="#">城站火车站</a>
								</li>
								<li>
									<a href="#">湖墅南路</a>
								</li>
								<li>
									<a href="#">武林广场</a>
								</li>
								<div class="clear"></div>
							</ul>
						</div>
					</li>

					<li class="nc_li">
						<div class="nc_item list_business">
							<h4>菜系</h4>
							<ul class="nc_list">
								<li><a href="#">私房菜</a></li>
								<li><a href="#">家常菜</a></li>
								<li><a href="#">早茶</a></li>
								<li><a href="#">杭帮/江浙菜</a></li>
								<li><a href="#">粤菜</a></li>
								<li><a href="#">川菜</a></li>
								<li><a href="#">面馆</a></li>
								<li><a href="#">湘菜</a></li>
								<li><a href="#">西北菜</a></li>
								<li><a href="#">烧烤</a></li>
								<li><a href="#">日本料理</a></li>
								<li><a href="#">韩国料理</a></li>
								<li><a href="#">火锅</a></li>
								<li><a href="#">西餐</a></li>
								<li><a href="#">自助餐</a></li>
								<li><a href="#">酒吧</a></li>
								<li><a href="#">咖啡厅</a></li>
								<li><a href="#">茶馆</a></li>
								<li><a href="#">其他美食</a></li>
								<div class="clear"></div>
							</ul>
						</div>
					</li>

					<li class="nc_li">
						<div class="nc_item list_business">
							<h4>氛围</h4>
							<ul class="nc_list">
								<li><a href="#">情侣约会</a></li>
								<li><a href="#">朋友聚餐</a></li>
								<li><a href="#">家庭聚会</a></li>
								<li><a href="#">商务宴请</a></li>
								<li><a href="#">杭帮/江浙菜</a></li>
								<li><a href="#">休闲小憩</a></li>
								<li><a href="#">随便吃吃</a></li>
								<div class="clear"></div>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="clear"></div>
	</div>
	<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
	<!-- footer -->
	<div class="footer-container">
		<div class="channel-footer">
			<p class="links">
				<a href="#" class="links_p">关于当地小食&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">诚信公约&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>				
				<a href="" class="links_p">网站帮助&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">网站地图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">最新咨询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">人才招聘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">联系我们&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<div class="clear"></div>
			</p>
			<p class="rights">
				<span>
					©2017-2018 ddxs.com, All Rights Reserved.
				</span>
			</p>
		</div>
	</div>
</body>
</html>