<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/personalBase.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/personal.css">
</head>
<body>
	<div class="header-container">
		<div class="top-nav">
			<div class="top-nav-container clearfix">
				<div class="group mini-logo">
					<a target="_blank" class="item" href="index.html">当地小食</a>
				</div>
				<div class="group quick-menu">
					<a class="item write-dp undline" href="#">写点评</a>
					<span class="seprate">|</span>
					<span>
						<a target="_blank" class="item left-split username J-user-trigger undline" href="personal_sc.html">Admin</a>
						<span class="seprate">|</span>
					</span>
					<a target="_blank" class="item left-split user-msg J-message-trigger undline" href="#">massage<span class="count">1</span></a>
					<span class="seprate">|</span>
					<a class="item J-my-center-trigger undline" href="personal_collection.html">个人中心</a>
					<span class="seprate">|</span>
					<a target="_blank" class="item left-split user-msg J-message-trigger undline" href="#">社区论坛</a>

				</div>
			</div>
		</div>
	</div>

	<div class="wrapper_personal">
 		<div class="header-box">
			<div class="pic">
				<a href="#"><img src="https://p0.meituan.net/userheadpic/bun.png%40120w_120h_1e_1c_1l%7Cwatermark%3D0"></a>
			</div>

			<div class="txt">
				<div class="tit">
					<h2 class="name">Admin</h2>
					<div class="edit">
						<a href="personal_massage.html">[编辑资料]</a>
					</div>
					<div class="nav">
						<ul>
							<li class="cur">
								<a href="personal_sc.html">收藏</a>
							</li>
							<li class="cur">
								<a href="personal.html" style="background-color:#ff8400 ;border-color: #ff84
0;color:white;">点评</a>
							</li>
						</ul>
						
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

		<div class="container-box home-container">
			<div class="main">
				<div class="modebox p-term-list">
					<div class="pic-txt">
						<ul>
							<li>
								<div class="txt J_rptlist">
									<div class="main_tit">
										<h6>
											<a class="main_tit_a" href="">IP Brew Pub爱啤精酿吧(赛银店)</a>
										</h6>
									</div>
									<div class="txt-c">
										<div class="mode-tc addres">
											<p class="col-exp">
												高教路970号赛银国际广场7幢星巴克隔壁
											</p>
										</div>	
										<div class="mode-tc comm-rst">
											<span>5分</span>
										</div>	
										<div class="mode-tc comm-entry">
											家附近，挺不错的店，氛围特别好
										</div>
										<div class="mode-tc comm-shop-info">
											<ul>
												<li>
													<em class="col-exp">喜欢的菜：</em>
													爱啤特色清水鱼
												</li>
											</ul>
										</div>	
										<div class="mode-tc info">
											<span class="col-exp">
												发表于18-05-24
											</span>
											<span class="col-right">
												<a class="aheart" href="">
													<i class="iheart heart-bg heart-s1"></i>
													<span class="heart-name">赞</span>
												</a>
												<em class="line">|</em>
												<a href="">回应</a>
												<em class="line">|</em>
												<a href="">举报</a>
											</span>
										</div>						
									</div>
								</div>
							</li>

														<li>
								<div class="txt J_rptlist">
									<div class="main_tit">
										<h6>
											<a class="main_tit_a" href="">IP Brew Pub爱啤精酿吧(赛银店)</a>
										</h6>
									</div>
									<div class="txt-c">
										<div class="mode-tc addres">
											<p class="col-exp">
												高教路970号赛银国际广场7幢星巴克隔壁
											</p>
										</div>	
										<div class="mode-tc comm-rst">
											<span>5分</span>
										</div>	
										<div class="mode-tc comm-entry">
											家附近，挺不错的店，氛围特别好
										</div>
										<div class="mode-tc comm-shop-info">
											<ul>
												<li>
													<em class="col-exp">喜欢的菜：</em>
													爱啤特色清水鱼
												</li>
											</ul>
										</div>	
										<div class="mode-tc info">
											<span class="col-exp">
												发表于18-05-24
											</span>
											<span class="col-right">
												<a class="aheart" href="">
													<i class="iheart heart-bg heart-s1"></i>
													<span class="heart-name">赞</span>
												</a>
												<em class="line">|</em>
												<a href="">回应</a>
												<em class="line">|</em>
												<a href="">举报</a>
											</span>
										</div>						
									</div>
								</div>
							</li>

														<li>
								<div class="txt J_rptlist">
									<div class="main_tit">
										<h6>
											<a class="main_tit_a" href="">IP Brew Pub爱啤精酿吧(赛银店)</a>
										</h6>
									</div>
									<div class="txt-c">
										<div class="mode-tc addres">
											<p class="col-exp">
												高教路970号赛银国际广场7幢星巴克隔壁
											</p>
										</div>	
										<div class="mode-tc comm-rst">
											<span>5分</span>
										</div>	
										<div class="mode-tc comm-entry">
											家附近，挺不错的店，氛围特别好
										</div>
										<div class="mode-tc comm-shop-info">
											<ul>
												<li>
													<em class="col-exp">喜欢的菜：</em>
													爱啤特色清水鱼
												</li>
											</ul>
										</div>	
										<div class="mode-tc info">
											<span class="col-exp">
												发表于18-05-24
											</span>
											<span class="col-right">
												<a class="aheart" href="">
													<i class="iheart heart-bg heart-s1"></i>
													<span class="heart-name">赞</span>
												</a>
												<em class="line">|</em>
												<a href="">回应</a>
												<em class="line">|</em>
												<a href="">举报</a>
											</span>
										</div>						
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="footer-container">
		<div class="channel-footer">
			<p class="links">
				<a href="#" class="links_p">关于当地小食&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">诚信公约&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>				
				<a href="" class="links_p">网站帮助&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">网站地图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">最新咨询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">人才招聘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">联系我们&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<div class="clear"></div>
			</p>
			<p class="rights">
				<span>
					©2017-2018 ddxs.com, All Rights Reserved.
				</span>
			</p>
		</div>
	</div>
</body>
</html>