<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/personalBase.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/personal_head.css">


</head>
<body>
	<div class="header-container">
		<div class="top-nav">
			<div class="top-nav-container clearfix">
				<div class="group mini-logo">
					<a target="_blank" class="item" href="index.html">当地小食</a>
				</div>
				<div class="group quick-menu">
					<a class="item write-dp undline" href="#">写点评</a>
					<span class="seprate">|</span>
					<span>
						<a target="_blank" class="item left-split username J-user-trigger undline" href="personal_sc.html">Admin</a>
						<span class="seprate">|</span>
					</span>
					<a target="_blank" class="item left-split user-msg J-message-trigger undline" href="#">massage<span class="count">1</span></a>
					<span class="seprate">|</span>
					<a class="item J-my-center-trigger undline" href="personal_collection.html">个人中心</a>
					<span class="seprate">|</span>
					<a target="_blank" class="item left-split user-msg J-message-trigger undline" href="#">社区论坛</a>

				</div>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="left_list">
			<span class="personal_title">个人中心</span>
			<ul class="personal_ul">
				<li>
					<a class="change" href="personal_massage.html"><span class="personal_nav_name">我的信息</span></a>
				</li>
				<li style="background-color: #ff7b2e;">
					<a class="change" class="change_a" href="personal_head.html"><span class="personal_nav_name">我的头像</span></a>
				</li>
				<li>
					<a class="change" href="personal_collection.html"><span class="personal_nav_name">我的收藏</span></a>
				</li>
			</ul>
		</div>
		<div class="right_content">
			<div class="right_title">
				<span>我的头像</span>
			</div>

			<div class="con">
					<p class="col-hints">
						<input class="btn" type="submit" name="submit" value="上传头像">
						<span>
							支持JPG、PNG、BMP格式的图片文件，文件大小小于5M
						</span>
					</p>	
					<div class="avatar-box">
						<div class="tit">
							<h5>当前头像：</h5>
						</div>
						<div class="avatar_photo_img">
							<img src="https://p0.meituan.net/userheadpic/bun.png">
							尺寸 120*120 像素
						</div>
						<div class="btn_box">
							<input class="btn" type="submit" name="submit" value="保存">
						</div>
						<div class="clear"></div>
					</div>
			</div>
		</div>

	</div>

	<div class="footer-container">
		<div class="channel-footer">
			<p class="links">
				<a href="#" class="links_p">关于当地小食&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">诚信公约&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>				
				<a href="" class="links_p">网站帮助&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">网站地图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">最新咨询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">人才招聘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">联系我们&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<div class="clear"></div>
			</p>
			<p class="rights">
				<span>
					©2017-2018 ddxs.com, All Rights Reserved.
				</span>
			</p>
		</div>
	</div>
</body>
</html>