<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/personalBase.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/personal_massage.css">

</head>
<body>
	<div class="header-container">
		<div class="top-nav">
			<div class="top-nav-container clearfix">
				<div class="group mini-logo">
					<a target="_blank" class="item" href="index.html">当地小食</a>
				</div>
				<div class="group quick-menu">
					<a class="item write-dp undline" href="#">写点评</a>
					<span class="seprate">|</span>
					<span>
						<a target="_blank" class="item left-split username J-user-trigger undline" href="personal_sc.html">Admin</a>
						<span class="seprate">|</span>
					</span>
					<a target="_blank" class="item left-split user-msg J-message-trigger undline" href="#">massage<span class="count">1</span></a>
					<span class="seprate">|</span>
					<a class="item J-my-center-trigger undline" href="personal_collection.html">个人中心</a>
					<span class="seprate">|</span>
					<a target="_blank" class="item left-split user-msg J-message-trigger undline" href="#">社区论坛</a>

				</div>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="left_list">
			<span class="personal_title">个人中心</span>
			<ul class="personal_ul">
				<li style="background-color: #ff7b2e;">
					<a class="change change_a" href="personal_massage.html"><span class="personal_nav_name">我的信息</span></a>
				</li>

				<li>
					<a class="change" href="personal_head.html"><span class="personal_nav_name">我的头像</span></a>
				</li>
				<li>
					<a class="change" href="personal_collection.html"><span class="personal_nav_name">我的收藏</span></a>
				</li>
			</ul>
		</div>
		<div class="right_content">
			<div class="right_title">
				<span>我的信息</span>
			</div>

			<div class="user_setting_warp">
					<form>
						<ul>
							<li>
								<div class="tit">
									<label>昵称：</label>
								</div>
								<div class="f-part">
									<input class="edit_input" type="text" name="userName" value="Admin">
								</div>
							</li>

							<li>
								<div class="tit">
									<label>性别：</label>
								</div>
								<div class="f-part f-iradio">
									<input class="radio-plain" class="edit_input" type="radio" name="userSex" value="1">
									<label for>男</label>
									<input class="radio-plain" class="edit_input" type="radio" name="userSex" value="0">
									<label for>女</label>
								</div>
							</li>

							<li>
								<div class="tit">
									<label>常居地：</label>
								</div>
								<div class="f-part">
									<input class="edit_input" type="text" name="address"  value="杭州">
								</div>
							</li>

							<li>
								<div class="tit">
									<label>手机号码：</label>
								</div>
								<div class="f-part">
									<input class="edit_input" type="text" name="telephone"  value="18205787150">
								</div>
							</li>

							<li>
								<div class="tit">
									<label>真实姓名：</label>
								</div>
								<div class="f-part">
									<input class="edit_input" type="text" name="realName"  value="王一">
								</div>
							</li>

							<li>
								<div class="tit">
									<label>自我介绍：</label>
								</div>
								<div class="f-part">
									<textarea class="tar_plain" cols rows="5" placeholder="简单介绍下自己，让更多Dper了解你吧~~(50字以内)" name="introduce"></textarea>
								</div>
							</li>
						</ul>
						<div class="btn_box">
							<input class="btn" type="submit" name="submit" value="保存修改">
						</div>
					</form>		
			</div>
		</div>

	</div>

	<div class="footer-container">
		<div class="channel-footer">
			<p class="links">
				<a href="#" class="links_p">关于当地小食&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">诚信公约&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>				
				<a href="" class="links_p">网站帮助&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">网站地图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">最新咨询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">人才招聘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">联系我们&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<div class="clear"></div>
			</p>
			<p class="rights">
				<span>
					©2017-2018 ddxs.com, All Rights Reserved.
				</span>
			</p>
		</div>
	</div>
</body>
</html>