<!DOCTYPE html>
<html>
<head>
	<title>创建商户</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/index.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/set_shop.css">
</head>
<body>
	<div class="header-container">
		<div class="top-nav">
			<div class="top-nav-container clearfix">
				<div class="group mini-logo">
					<a target="_blank" class="item" href="index.html">当地小食</a>
				</div>
				<div class="group quick-menu">
					<a class="item write-dp undline" href="#">写点评</a>
					<span class="seprate">|</span>
					<span>
						<a target="_blank" class="item left-split username J-user-trigger undline" href="personal_sc.html">Admin</a>
						<span class="seprate">|</span>
					</span>
					<a target="_blank" class="item left-split user-msg J-message-trigger undline" href="#">massage<span class="count">1</span></a>
					<span class="seprate">|</span>
					<a class="item J-my-center-trigger undline" href="personal_collection.html">个人中心</a>
					<span class="seprate">|</span>
					<a target="_blank" class="item left-split user-msg J-message-trigger undline" href="#">社区论坛</a>

				</div>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="main_title">
			<a class="back" href=""><&nbsp;返回</a>
			<h5>添加商户</h5>
		</div>
		<div class="main_content">
			<form class="content_form">
				<div class="ant_row">
					<div class="c_text">
						<label class="c_title">添加商户</label>
					</div>
					<div class="c_input">
						<input class="ant_input" type="text" name="shopName" placeholder="请输入商户名称">
					</div>
				</div>
				<div class="ant_row">
					<div class="c_text">
						<label class="c_title">商户类型</label>
					</div>
					<div class="parent" style="margin-right: 20px;">
				      <select>
				          <option>请选择</option>
				          <option name="1">私房菜</option>
				          <option name="2">家常菜</option>
				          <option name="3">早茶</option>
				          <option name="4">粤菜</option>
				          <option name="4">川菜</option>
				          <option name="4">火锅</option>
				          <option name="4">西餐</option>
				      </select>
				    </div>
				    <div class="parent">
				      <select>
				          <option>请选择</option>
				          <option name="1">情侣约会</option>
				          <option name="2">朋友聚餐</option>
				          <option name="3">家庭聚会</option>
				          <option name="4">休闲小憩</option>
				          <option name="5">随便吃吃</option>
				      </select>
				    </div>
				</div>
				<div class="ant_row">
					<div class="c_text">
						<label class="c_title">所在地区</label>
					</div>
					<div class="parent">
				      <select>
				          <option>请选择</option>
				          <option name="1">杭州</option>
				          <option name="2">上海</option>
				          <option name="3">广东</option>
				          <option name="4">四川</option>
				      </select>
				    </div>
				</div>
				<div class="ant_row">
					<div class="c_text">
						<label class="c_title">商户地址</label>
					</div>
					<div class="c_input">
						<input class="ant_input" type="text" name="shopName" placeholder="请输入商户详细地址">
					</div>
				</div>
				<div class="ant_row">
					<div class="c_text">
						<label class="c_title">商户电话</label>
					</div>
					<div class="c_input">
						<input class="ant_input" type="text" name="shopName" placeholder="请输入电话号码">
					</div>
				</div>
				<div class="ant_row">
					<div class="c_text">
						<label class="c_title">商户简介</label>
					</div>
					<div class="c_input">
						<!-- <input class="ant_input" type="text" name="shopName" placeholder="请输入商户名称"> -->
						<textarea class="tar_plain" cols rows="5" placeholder="简单介绍商户" name="introduce"></textarea>
					</div>
				</div>
			</form>
			<div class="dpshop-add-divider"></div>
			<div class="foot">
				<input class="add_input" type="submit" name="submit" value="保存">
			</div>
		</div>
	</div>


	<div class="footer-container">
		<div class="channel-footer">
			<p class="links">
				<a href="#" class="links_p">关于当地小食&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">诚信公约&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>				
				<a href="" class="links_p">网站帮助&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">网站地图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">最新咨询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">人才招聘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<a href="" class="links_p">联系我们&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
				<div class="clear"></div>
			</p>
			<p class="rights">
				<span>
					©2017-2018 ddxs.com, All Rights Reserved.
				</span>
			</p>
		</div>
	</div>	
</body>
</html>